.zanata-cache/
_build
TAGS
tags
vgdump
*.swp
*~
\#*#
.\#*
/subprojects/libhandy
.vscode/
*.gcov
debian/phosh.service
debian/sm.puri.Phosh.service
debian/sm.puri.Phosh.target
debian/files
debian/*.substvars
debian/*debhelper*
debian/phosh/
debian/phosh-osk-stub/
debian/tmp/
