_build
TAGS
tags
vgdump
*.swp
*~
\#*#
.\#*
/subprojects/glib
/subprojects/libhandy
.vscode/
*.gcov
debian/phosh.service
debian/sm.puri.Phosh.service
debian/sm.puri.Phosh.target
debian/files
debian/*.substvars
debian/*debhelper*
debian/phosh/
debian/tmp/
po/messages.mo
po/missing
po/notexist
