_build
TAGS
tags
vgdump
*.swp
*~
\#*#
.\#*
/subprojects/glib
/subprojects/gmobile
/subprojects/gvc
/subprojects/libcall-ui
/subprojects/libhandy
.vscode/
*.gcov
debian/phosh.service
debian/sm.puri.Phosh.service
debian/sm.puri.Phosh.target
debian/files
debian/*.substvars
debian/*debhelper*
debian/phosh/
debian/phosh-dev/
debian/phosh-doc/
debian/phosh-mobile-tweaks/
debian/phosh-plugins/
debian/phosh.postinst
debian/phosh.postrm
debian/phosh.triggers
debian/tmp/
po/messages.mo
po/missing
po/notexist
po/*.pot
