[Unit]
Description=Phosh
DefaultDependencies=no

Requisite=gnome-session-initialized.target
PartOf=gnome-session-initialized.target
Before=gnome-session-initialized.target

Requires=mobi.phosh.Shell.service
After=mobi.phosh.Shell.service
