#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS = hardening=+all

%:
	dh $@ --builddirectory=_build

override_dh_auto_install:
	dh_auto_install
	# Move phosh to arch indep dir
	mkdir -p debian/phosh/usr/lib/phosh
	mv debian/phosh/usr/lib/*/phosh debian/phosh/usr/lib/phosh/phosh

override_dh_installsystemd:
	dh_installsystemd --no-start --no-enable

override_dh_auto_test:
ifeq ($(filter nocheck,$(DEB_BUILD_OPTIONS)),)
	xvfb-run ninja -C _build test
endif

