/* Top bar panel */
.phosh-panel {
    font: 15px Cantarell;
}

.phosh-panel-btn {
    background-image: none;
    border-width: 0;
}

.phosh-topbar-clock {
    font-weight: bold;
}

/* Home bar */

.phosh-osk-button {
  border-radius: 50%;
  min-width: 0;
  min-height: 0;
  padding: 6px;
}

/* Settings menu */
.phosh-settings-menu {
    background-color: black;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
 }

.phosh-settings-listboxrow {
    padding: 0;
}

.phosh-settings-row {
    box-shadow: none;
    background-color: black;
}

.phosh-settings-menu button.circular:not(:hover):not(:active) {
    border: 2px solid @theme_bg_color;
}

/* Favorites / Home screen */
phosh-app {
    background: rgba(255,255,255,0.8);
    border: none;
    border-radius: 0;
    background: url('resource:///sm/puri/phosh/fake-app.svg');
    background-size: cover;
    box-shadow: 0 2px 2px rgba(0,0,0,0.4), 0 3px 16px rgba(0,0,0,0.3);
}

phosh-app box {
    background: rgba(0, 0, 0, 0.7);
    padding: 6px;
    color: white;
    margin: 6px;
    border-radius: 6px;
    font-weight: bold;
}

.phosh-running-apps-flowbox {
    padding-top: 10px;
    padding-bottom: 10px;
}

phosh-home, .phosh-panel {
    background: black;
    color: white;
}

.phosh-favorite {
    background: none;
    border: none;
    box-shadow: none;
    padding: 0;
    -gtk-icon-shadow: 0 1px 2px rgba(0,0,0,0.4), 0 1px 8px rgba(0,0,0,0.2);
}

.phosh-favorite:hover {
    -gtk-icon-effect: none;
}

.phosh-favorite:active {
    -gtk-icon-effect: highlight;
}

/* Lock screen */
.phosh-lockscreen, .phosh-lockshield {
    background-color: black;
}

.phosh-lockscreen-clock {
    font-size: 72px;
    font-weight: 100;
}

.phosh-lockscreen-arrow {
    transition: 400ms linear;
    animation: pulsate 1.8s ease-out;
    animation-iteration-count: 15;
}

@keyframes pulsate {
    0% {-gtk-icon-transform: translateY(0); opacity: 0.7}
    35% {-gtk-icon-transform: translateY(-14px); opacity: 1}
    100% {-gtk-icon-transform: translateY(0); opacity: 0.7}
}

/* polkit auth agent */
.phosh-polkit-auth-agent {
    background-color: black;
    border: solid 20px;
    border-color: black;
}
